<form id="product-form">
    <input type="text" class="w-100 mb-3" name="title" placeholder="Product Name" required>
    <input type="text" class="w-100 mb-3" name="code" placeholder="Product code" required>
    <input type="text" class="w-100 mb-3" name="category" placeholder="Product category" required>
    <input type="number" class="w-100 mb-3" name="price" placeholder="Product Price" required>
    <input type="number" class="w-100 mb-3" name="stock" placeholder="Product stock" required>
    <input type="url" class="w-100 mb-3" name="thumbnail" placeholder="Product thumbnail" >
    <textarea name="description" class="w-100 mb-3" placeholder="Description" required></textarea>
    <button type="submit" class=" w-100 btn btn-primary">Add Product</button>
</form>
<div id="products-realtime"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
